@font-face {
  font-family: avenir;
  src: url("imgs/Avenir-Light.ttf") format("opentype");
  font-family: cormorant;
  src: url("imgs/Cormorant-Light.ttf") format("opentype");
}


/* mobile ONLY ------------------------------------ */

@media (max-width: 600px) {

  p{
    font-size: 1rem !important;
  }

  a {
    font-size: 1rem !important;
  }

  .view-navigations {
    display: none;
  }

}
/* mobile ONLY end ------------------------------------ */


@media (max-width: 1024px) {
  .cover {
    margin-left: 4rem;
  }
  .content-row {
    margin: 0 4rem;
  }
}


body {
  font-family: 'Avenir-Light', sans-serif;
  max-width: 960px;
  margin: auto;
}

h1 {
  font-family: 'Cormorant-Light', serif;
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

p{
  font-size: 1.5rem;
  line-height: 160%;
}


a {
  font-size: 1.5rem;
  color: rgb(0,0,0);
  }

a:hover {
  color: rgba(0,0,0,.6);
}


a:visited {
  color: rgba(0,0,0,.6);
}


caption {
  font-size: 0.5rem;
}

.pronounciation {
  font-family: 'Avenir-Light', sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  padding-left: 1.5rem;
  vertical-align: 12%;
  line-height: 2rem;
}


.contact {
  margin-top: 15rem;
}


.cover {
  padding-top: 30vh;
  min-height: 70vh;
}

.cover nav .menu {
  position: relative;
  background-color: #fff;
  margin-left: -1rem;
  margin-right: -3rem;
  padding-top: 4rem;
  padding-bottom: .5rem;
}

.cover nav .menu:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2rem;
  width: 100%;
  height: 2rem;
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

.cover nav .menu a {
  opacity: .65;
  transition: opacity .2s ease;
}

.cover nav .menu a:hover, .cover nav .menu a:focus {
  color: #000;
}

.cover nav .menu a.is-active {
  opacity: 1;
  font-weight: 700;
}

.content-row {
  min-height: 70vh;
  padding-top: 30vh;
}

#contact {
  margin-bottom: 30vh;
}

.menu.contact {
  margin-left: -1rem;
  margin-top: 0px;
}

/* Bolinhas  */


.view-navigations {
  position: fixed;
  bottom: 2rem;
  right: : 3rem;
  transition: all .2s ease;
}

.view-navigations .menu li {
  margin: .6rem 0;
}

.view-navigations .menu a {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 8px;
  background-color: #000;
  opacity: .2;
  transition: opacity .2s ease;
}

.view-navigations .menu a.is-active {
  opacity: 1;
}

@media (min-width: 1024px) {
  .view-navigations {
    bottom: 50vh;
    right: 8rem;
  }

  @media (max-width: 1024px) {
    .view-navigations {
      display: none;
    }

}


/* Borda  */

.websiteFrame {
   position: fixed;
   z-index: 990;
   background-color: rgba(0, 0, 0, 1);
}

#websiteFrameTop {
   top: 0;
   left: 0;
   width: 100%;
   height: 20px;
}

#websiteFrameRight {
   top: 0;
   bottom: 0;
   right: 0;
   width: 20px;
}

#websiteFrameBottom {
   bottom: 0;
   left: 0;
   width: 100%;
   height: 20px;
}

#websiteFrameLeft {
   top: 0;
   bottom: 0;
   left: 0;
   width: 20px;
}
